/* Font size variables */
:root {
  --article-font-size-small: 14px;
  --article-font-size-medium: 16px;
  --article-font-size-large: 18px;
  --article-font-size-extra-large: 20px;
}

body {
  --article-font-size: var(--article-font-size-medium); /* Default font size */
}

.article-content {
  font-size: var(--article-font-size);
}
